.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 460px;
  width: 280px;
}

header {
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 2px;
  margin-bottom: 24px;
}
